<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibaodi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{692,882},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beibaodi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{76,74}</string>
                <key>textureRect</key>
                <string>{{799,808},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_biaotitou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,81}</string>
                <key>spriteSourceSize</key>
                <string>{316,81}</string>
                <key>textureRect</key>
                <string>{{348,625},{316,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_cangshutongyong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,345}</string>
                <key>spriteSourceSize</key>
                <string>{315,345}</string>
                <key>textureRect</key>
                <string>{{1,625},{315,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chongwupeiyang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,24}</string>
                <key>spriteSourceSize</key>
                <string>{103,24}</string>
                <key>textureRect</key>
                <string>{{799,703},{103,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_dengjikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{825,779},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_dutiaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,67}</string>
                <key>spriteSourceSize</key>
                <string>{140,67}</string>
                <key>textureRect</key>
                <string>{{739,243},{138,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_erciquerenfengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,5}</string>
                <key>spriteSourceSize</key>
                <string>{100,5}</string>
                <key>textureRect</key>
                <string>{{934,303},{100,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,6}</string>
                <key>spriteSourceSize</key>
                <string>{264,6}</string>
                <key>textureRect</key>
                <string>{{431,625},{264,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_gonggaoxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,68}</string>
                <key>spriteSourceSize</key>
                <string>{712,68}</string>
                <key>textureRect</key>
                <string>{{1,286},{712,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_jidutiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{825,537},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_light_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,55}</string>
                <key>spriteSourceSize</key>
                <string>{131,55}</string>
                <key>textureRect</key>
                <string>{{768,451},{131,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_mingzidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,39}</string>
                <key>textureRect</key>
                <string>{{877,808},{72,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_piaodai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,72}</string>
                <key>spriteSourceSize</key>
                <string>{137,72}</string>
                <key>textureRect</key>
                <string>{{768,312},{137,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_piaodai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,62}</string>
                <key>spriteSourceSize</key>
                <string>{111,62}</string>
                <key>textureRect</key>
                <string>{{443,834},{111,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shijiegonggaodi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{196,71}</string>
                <key>spriteSourceSize</key>
                <string>{196,73}</string>
                <key>textureRect</key>
                <string>{{739,1},{196,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shurukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,46}</string>
                <key>textureRect</key>
                <string>{{869,760},{60,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{860,584},{82,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{728,283}</string>
                <key>spriteSourceSize</key>
                <string>{728,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{728,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuanzhongkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{829,74},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xuyaozhifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,28}</string>
                <key>spriteSourceSize</key>
                <string>{169,34}</string>
                <key>textureRect</key>
                <string>{{556,852},{161,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_zhuangbeige.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{92,90}</string>
                <key>textureRect</key>
                <string>{{768,584},{92,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_denglongfenye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,165}</string>
                <key>spriteSourceSize</key>
                <string>{68,165}</string>
                <key>textureRect</key>
                <string>{{565,782},{68,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_denglongfenyexuanzhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,165}</string>
                <key>spriteSourceSize</key>
                <string>{77,165}</string>
                <key>textureRect</key>
                <string>{{565,703},{77,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_queding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,65}</string>
                <key>spriteSourceSize</key>
                <string>{178,65}</string>
                <key>textureRect</key>
                <string>{{732,703},{176,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_wenhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{715,312},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,55}</string>
                <key>spriteSourceSize</key>
                <string>{131,55}</string>
                <key>textureRect</key>
                <string>{{842,312},{131,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diwen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,34}</string>
                <key>spriteSourceSize</key>
                <string>{117,34}</string>
                <key>textureRect</key>
                <string>{{829,193},{117,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diwen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{88,167}</string>
                <key>spriteSourceSize</key>
                <string>{88,171}</string>
                <key>textureRect</key>
                <string>{{739,74},{88,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,2}</string>
                <key>spriteSourceSize</key>
                <string>{241,2}</string>
                <key>textureRect</key>
                <string>{{439,625},{241,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fengexian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,6}</string>
                <key>spriteSourceSize</key>
                <string>{280,6}</string>
                <key>textureRect</key>
                <string>{{731,1},{280,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_erciqueren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,37}</string>
                <key>textureRect</key>
                <string>{{556,882},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_jiaohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,25}</string>
                <key>spriteSourceSize</key>
                <string>{74,25}</string>
                <key>textureRect</key>
                <string>{{825,703},{74,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_queding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,24}</string>
                <key>spriteSourceSize</key>
                <string>{74,24}</string>
                <key>textureRect</key>
                <string>{{860,668},{74,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_quxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,22}</string>
                <key>spriteSourceSize</key>
                <string>{70,22}</string>
                <key>textureRect</key>
                <string>{{519,919},{70,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shiyong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,23}</string>
                <key>spriteSourceSize</key>
                <string>{71,23}</string>
                <key>textureRect</key>
                <string>{{768,678},{71,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_shuomingq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{77,35}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{877,445},{77,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_youxigonggao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,33}</string>
                <key>spriteSourceSize</key>
                <string>{124,33}</string>
                <key>textureRect</key>
                <string>{{899,303},{124,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_zhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{853,884},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_zhanli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,56}</string>
                <key>textureRect</key>
                <string>{{825,451},{84,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanbibt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{852,694},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,49}</string>
                <key>spriteSourceSize</key>
                <string>{57,49}</string>
                <key>textureRect</key>
                <string>{{897,524},{57,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gougogu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,36}</string>
                <key>spriteSourceSize</key>
                <string>{41,38}</string>
                <key>textureRect</key>
                <string>{{901,882},{37,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_meifaxianrenhedongxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,345}</string>
                <key>spriteSourceSize</key>
                <string>{315,345}</string>
                <key>textureRect</key>
                <string>{{451,356},{315,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_xuanzeyaun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{34,33}</string>
                <key>textureRect</key>
                <string>{{914,429},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renwudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,53}</string>
                <key>spriteSourceSize</key>
                <string>{51,53}</string>
                <key>textureRect</key>
                <string>{{742,881},{51,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renwukuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{72,67}</string>
                <key>textureRect</key>
                <string>{{879,229},{72,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuiwen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,19}</string>
                <key>spriteSourceSize</key>
                <string>{70,19}</string>
                <key>textureRect</key>
                <string>{{591,919},{70,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,33}</string>
                <key>spriteSourceSize</key>
                <string>{86,33}</string>
                <key>textureRect</key>
                <string>{{431,898},{86,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyongkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,267}</string>
                <key>spriteSourceSize</key>
                <string>{448,267}</string>
                <key>textureRect</key>
                <string>{{1,356},{448,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyongtips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{56,48}</string>
                <key>textureRect</key>
                <string>{{795,884},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tongyongwenli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,129}</string>
                <key>spriteSourceSize</key>
                <string>{120,129}</string>
                <key>textureRect</key>
                <string>{{443,703},{120,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>base_panel.png</string>
            <key>size</key>
            <string>{947,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0844903383716c86ca93c2d5220461c8:b570799cf51b97a7c121ff69f37472cb:a4d7b2154264a1c7529135d2c40ce120$</string>
            <key>textureFileName</key>
            <string>base_panel.png</string>
        </dict>
    </dict>
</plist>
